<div id='sectionAimprimer'>
    
    <div class="page-head2" id="tblData">
      <h1 class="radio39 f4"><a href="javascript:imprimer('sectionAimprimer')"  ><b class="f1">Etats des bodereaux par banque</b></a>
        <a href="javascript:exportTableToExcel('tblData','Etats des bodereaux par banque ')" class="radio1110"><img src="/assets/img/excel.JPG" title="exporter en excel"></a>

   </h1>
        
        <table class="f4 t44 table-sm t88  table-bordered2">
          <thead >
            <tr class="td001" *ngFor="let lignebordereau of lignebordereaux" > 
                <th class="  f4" colspan="5" ngIf="lignebordereau.num == num "><b>BORDEREAU ENCAISSEMENT DES CHEQUES Nº {{lignebordereau.num}}</b></th>
                
     
              </tr>
          <tr > 
            <th >NUM DE CHEQUE</th>
            <th >BANQUE</th>
            <th >NOM ET PRENOM</th>
            <th >MONTANT</th>
            <th >DATE</th>
         
 
          </tr>
         
        </thead>
        <tbody>
          <tr  *ngFor="let reglementclt of reglementclts">
            <td >{{reglementclt.num}}</td>
            <td >{{reglementclt.banque}}</td>
            <td >{{reglementclt.client}}</td>
            <td > {{reglementclt.montant}}</td>
            <td >{{reglementclt.date}}</td>
           
            
  </tr> 
      
  
          </tbody>
          <tfoot>
            <tr class="tr3">
              <td   colspan="3"><b>TOTAL</b></td>
              <td ><b>0.000 DT</b></td>
              <td ></td>
          </tr> 
                    
          </tfoot>
      </table>
      
     
      </div>
      
  
</div>   