<div id='sectionAimprimer'>
    
    <div class="page-head2" id="tblData">
        <h1 class="radio100 f4"><a href="javascript:imprimer('sectionAimprimer')" ><b class="f1">ETAT MOUVEMENTS STOCK </b></a>
            <a href="javascript:Export('tblData','ETAT MOUVEMENTS STOCK')" class="radio1110"><img src="/assets/img/pdf.JPG" title="exporter en pdf"></a>
            <a href="javascript:exportTableToExcel('tblData','etat-mv-stock ')"  class="radio111"><img src="/assets/img/excel.JPG" title="exporter en excel"></a>
        </h1>
        <h4 class="radio133 f4 f1">Periode : Du -----------------  Au -----------------</h4>
        <br>
       <table ></table>
      
     
      </div>
      
  
</div>   