<app-header></app-header>
<div >
    <div class="am-content">
      <div class="page-head">
          <h2>INITIALISER CODE</h2>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a >Parametrages</a></li>
            <li class="breadcrumb-item"><a href="/initialisercode">Initialiser code</a></li>
          </ol>
        </div>
        <div class="main-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="card3">
                    <div class="card-header">
                        <h3>Initialiser code</h3>
                    </div>
                    <div class="card-body">
                        <div>
                         
                        </div>
                      </div>
                    </div>
                <br>
                    <div class="card3">
                    <div class="card-header">
                        <h3>Liste des codes</h3>
                    </div>

                 <br>
                        <div >
                         
  
                          <table class=" t2 table-sm  table-bordered ">
                              <thead class="thead1">
                              <tr>
                                  
                                <th> Liste de code en cours</th>
                                <th >code en cours</th>
                               
                                <th>Action</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                  
                                  <td></td>
                                  <td ></td>
                                
                                 
                                  <td ><a href="/modifierinitialisercode" class="img2 s7-note" title="modifier"></a>
                                    </td>
            
                              </tr>
                              <tr>
                                <td></td>
                                <td ></td>
                              
                               
                                <td ><a href="/modifierinitialisercode" class="img2 s7-note" title="modifier"></a>
                                  </td>

                              </tr>
                                  
                              </tbody>
                          </table><br>
                          </div>
                      </div>
                      </div>
       
          
  
  