<app-header></app-header>
<div class="am-content">
    <div class="main-content">
      <div class="row">
            <div class="col-lg-4">
                <div class="widget widget-pie">
                    <div class="widget-head"><span class="title">Analyse de vente</span></div>
                        <div class="row chart-container">
                            <div class="col-md-6">
                            <div class="chart" id="widget-top-1"></div>
                            </div>
                            <div class="col-md-6">
                            <div class="legend"></div>
                            </div>
                        </div>
                        <div class="row chart-info">
                            <div class="radio0000"><span class="title">Factures</span><span class="number" data-toggle="counter" data-end="180">0</span></div>
                            <div class="radio0000"><span class="title">Receptions</span><span class="number" data-toggle="counter" data-end="500" >0</span></div>
                            <div  class="radio0000"><span class="title">BLs</span><span class="number" data-toggle="counter" data-end="150">0</span></div>
                            <div  class="radio0000"><span class="title">Tickets</span><span class="number" data-toggle="counter" data-end="90">0</span></div>

                        </div>
                </div>

             
            </div>

            <div class=" radio0000">
                <div class="widget1 widget-pie">
                  <div class="widget-head"><span class="title">Reglements Factures</span></div>  
                  <div class="row chart-container">
                    <div class="col-md-6">
                      <div class="chart" id="widget-top-2"></div>
                    </div>
                    <div class="col-md-6">
                      <div class="legend"></div>
                    </div>
                  </div>
                  <div class="row chart-info">
                    <div class="radio0000"><span class="title">TOT TPE</span><span class="number" data-toggle="counter" data-end="25" >0</span></div>
                    <div class="radio0000"><span class="title">TOT CHEQUES CADEAUX</span><span class="number" data-toggle="counter" data-end="350">0</span></div>
                    <div class="radio0000"><span class="title">TOT VIREMENT </span><span class="number" data-toggle="counter" data-end="40" >0</span></div>
                    <div class="radio0000"><span class="title">TOT CHEQUES</span><span class="number" data-toggle="counter" data-end="25" >0</span></div>
                    <div class="radio0000"><span class="title">TOT TRAITE</span><span class="number" data-toggle="counter" data-end="350">0</span></div>
                    <div class="radio0000"><span class="title">TOT ESPECES</span><span class="number" data-toggle="counter" data-end="40" >0</span></div>
                  </div>
                </div>
              </div>

        <div class="col-lg-4 ">
          <div class="widget2 widget-pie">
            <div class="widget-head"><span class="title">Reglements BLs</span></div>  
            <div class="row chart-container">
              <div class="col-md-6">
                <div class="chart" id="widget-top-3"></div>
              </div>
              <div class="col-md-6">
                <div class="legend">
                  <table>
                    <tbody>
                      <tr>
                        <td class="legendColorBox">
                          <div>
                            <div class="clr-alt3" style="width:10px;height:10px;overflow:hidden;"></div>
                          </div>
                        </td>
                        <td class="legendLabel">Tot TPE</td>
                        
                      </tr>
                      <tr>
                        <td class="legendColorBox">
                          <div>
                            <div class="clr-alt4" style="width:10px;height:10px;overflow:hidden;"></div>
                          </div>
                        </td>
                        <td class="legendLabel">Tot cheque cadeau</td>
                      </tr>

                      <tr>
                        <td class="legendColorBox">
                          <div>
                            <div class="clr-alt5" style="width:10px;height:10px;overflow:hidden;"></div>
                          </div>
                        </td>
                        <td class="legendLabel">Tot traite</td>
                      </tr>

                      <tr>
                        <td class="legendColorBox">
                          <div>
                            <div class="clr-alt6" style="width:10px;height:10px;overflow:hidden;"></div>
                          </div>
                        </td>
                        <td class="legendLabel">Tot virement</td>
                      </tr>

                      <tr>
                        <td class="legendColorBox">
                          <div>
                            <div class="clr-alt7" style="width:10px;height:10px;overflow:hidden;"></div>
                          </div>
                        </td>
                        <td class="legendLabel">Tot cheque</td>
                      </tr>

                      <tr>
                        <td class="legendColorBox">
                          <div>
                            <div class="clr-alt8" style="width:10px;height:10px;overflow:hidden;"></div>
                          </div>
                        </td>
                        <td class="legendLabel">Tot especes</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row chart-info">
              <div class="radio111"><span class="title">TOT TPE</span><span class="number" data-toggle="counter" data-end="25" >0</span></div>
              <div class="radio111"><span class="title">TOT CHEQ CADEAUX</span><span class="number" data-toggle="counter" data-end="350">0</span></div>
              <div class="radio111"><span class="title">TOT VIREMENT </span><span class="number" data-toggle="counter" data-end="40" >0</span></div>
              <div class="radio111"><span class="title">TOT CHEQUES</span><span class="number" data-toggle="counter" data-end="25" >0</span></div>
              <div class="radio111"><span class="title">TOT TRAITE</span><span class="number" data-toggle="counter" data-end="350">0</span></div>
              <div class="radio111"><span class="title">TOT ESPECES</span><span class="number" data-toggle="counter" data-end="40" >0</span></div>
            </div>
          </div>
      </div>


      
      <div class="col-lg-4 radio04">
        <div class="widget2 widget-pie">
          <div class="widget-head"><span class="title">Reglements Receptions</span></div>  
          <div class="row chart-container">
            <div class="col-md-6">
              <div class="chart" id="widget-top-4"></div>
            </div>
            <div class="col-md-6">
              <div class="legend"></div>
            </div>
          </div>
          <div class="row chart-info">
            <div class="radio111"><span class="title">TOT TPE</span><span class="number" data-toggle="counter" data-end="25" >0</span></div>
            <div class="radio111"><span class="title">TOT CHEQ CADEAUX</span><span class="number" data-toggle="counter" data-end="350">0</span></div>
            <div class="radio111"><span class="title">TOT VIREMENT </span><span class="number" data-toggle="counter" data-end="40" >0</span></div>
            <div class="radio111"><span class="title">TOT CHEQUES</span><span class="number" data-toggle="counter" data-end="25" >0</span></div>
            <div class="radio111"><span class="title">TOT TRAITE</span><span class="number" data-toggle="counter" data-end="350">0</span></div>
            <div class="radio111"><span class="title">TOT ESPECES</span><span class="number" data-toggle="counter" data-end="40" >0</span></div>
          </div>

        </div> 
    </div>
    <div class="col-lg-4 ">
      <div class="widget2 widget-pie">
        <div class="widget-head"><span class="title">Reglements Tickets</span></div>  
        <div class="row chart-container">
          <div class="col-md-6">
            <div class="chart" id="widget-top-5"></div>
          </div>
          <div class="col-md-6">
            <div class="legend"></div>
          </div>
        </div>
        <div class="row chart-info">
          <div class="radio111"><span class="title">TOT TPE</span><span class="number" data-toggle="counter" data-end="25" >0</span></div>
          <div class="radio111"><span class="title">TOT CHEQ CADEAUX</span><span class="number" data-toggle="counter" data-end="350">0</span></div>
          <div class="radio111"><span class="title">TOT VIREMENT </span><span class="number" data-toggle="counter" data-end="40" >0</span></div>
          <div class="radio111"><span class="title">TOT CHEQUES</span><span class="number" data-toggle="counter" data-end="25" >0</span></div>
          <div class="radio111"><span class="title">TOT TRAITE</span><span class="number" data-toggle="counter" data-end="350">0</span></div>
          <div class="radio111"><span class="title">TOT ESPECES</span><span class="number" data-toggle="counter" data-end="40" >0</span></div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 radio04">
      <div class="cardc">
        <div class="card-header"> 
         <span class="title">Recette</span>
        </div>
        <div class="card-body">
          <div id="bar-chart" style="height: 250px;"></div>
        </div>
      </div>
    </div>
  </div>
    </div>
   
</div>