<div id="tblData">
    <div class="page-head2" >
        <h1 class="radio38 f4"><b  class="f1">JOURNAL DE CAISSE </b>
            <a href="javascript:Export('tblData','JOURNAL DE CAISSE')" class="radio11"><img src="/assets/img/pdf.JPG" title="exporter en pdf"></a>

        </h1>
        <h4 class="radio38 f4 f1">Casier:----------- Du ----------------  Au--------------</h4><br>

        <table class=" f4 t44 table-sm t88 table-bordered2 ">
        
            <tr >
                <th rowspan="6">DETAIL ESPECE</th>
            </tr>
                <tr>
                    <th>Règlement Ticket</th> 
                    <th>0.000 DT</th>
                </tr>
                <tr>
                    <th>Règlement Bon Livraison</th>
                    <th>0.000 DT</th>
                </tr>
                <tr>
                    <th>Règlement Facture</th>
                    <th>0.000 DT</th>
                </tr>
                <tr>
                    <th>Règlement Reception</th>
                    <th>0.000 DT</th>
                </tr>
                <tr >
                    <th class="tr3"><b>TOTAL ESPECE</b></th>
                    <th class="tr3"><b>0.000 DT</b></th>
                </tr>


                <tr >
                    <th rowspan="6">DETAIL CHEQUE</th>
                </tr>
                    <tr>
                        <th>Règlement Ticket</th> 
                        <th>0.000 DT</th>
                    </tr>
                    <tr>
                        <th> Règlement Bon Livraison</th>
                        <th>0.000 DT</th>
                    </tr>
                    <tr>
                        <th>Règlement Facture</th>
                        <th>0.000 DT</th>
                    </tr>
                    <tr>
                        <th>Règlement Reception</th>
                        <th>0.000 DT</th>
                    </tr>
                    <tr >
                        <th class="tr3"><b> TOTAL CHEQUE</b></th>
                        <th class="tr3"><b>0.000</b></th>
                    </tr>
    
                    <tr >
                        <th rowspan="6">DETAIL TRAITE</th>
                    </tr>
                    <tr>
                        <th>Règlement Ticket</th> 
                        <th>0.000 DT</th>
                    </tr>
                    <tr>
                        <th> Règlement Bon Livraison</th>
                        <th>0.000 DT</th>
                    </tr>
                    <tr>
                        <th>Règlement Facture</th>
                        <th>0.000 DT</th>
                    </tr>
                    <tr>
                        <th>Règlement Reception</th>
                        <th>0.000 DT</th>
                    </tr>
                        <tr >
                            <th class="tr3"><b>TOTAL TRAITES</b></th>
                            <th class="tr3"><b>0.000</b></th>
                        </tr>


                        <tr >
                            <th rowspan="6">DETAIL TPE</th>
                        </tr>
                        <tr>
                            <th>Règlement Ticket</th> 
                            <th>0.000 DT</th>
                        </tr>
                        <tr>
                            <th> Règlement Bon Livraison</th>
                            <th>0.000 DT</th>
                        </tr>
                        <tr>
                            <th>Règlement Facture</th>
                            <th>0.000 DT</th>
                        </tr>
                        <tr>
                            <th>Règlement Reception</th>
                            <th>0.000 DT</th>
                        </tr>
                            <tr >
                                <th class="tr3"><b>TOTAL TPE</b></th>
                                <th class="tr3"><b>0.000</b></th>
                            </tr>

                        
                        <tr >
                            <th rowspan="6">DETAIL VIREMENT</th>
                        </tr>
                        <tr>
                            <th>Règlement Ticket</th> 
                            <th>0.000 DT</th>
                        </tr>
                        <tr>
                            <th> Règlement Bon Livraison</th>
                            <th>0.000 DT</th>
                        </tr>
                        <tr>
                            <th>Règlement Facture</th>
                            <th>0.000 DT</th>
                        </tr>
                        <tr>
                            <th>Règlement Reception</th>
                            <th>0.000 DT</th>
                        </tr>
                            <tr >
                                <th class="tr3"><b>TOTAL VIREMENT</b></th>
                                <th class="tr3"><b>0.000</b></th>
                            </tr>
                        
                        <tr class="td001">
                            <th colspan="2"><b>TOTAL</b></th>
                            <th><b>0.000</b></th>
                        </tr>

                        <tr class="thead4">
                            <th colspan="2"><b>Fond de caisse</b></th>
                            <th><b>0.000</b></th>
                        </tr>
            
        
            
        </table>
 <br>
<table class=" f4  t44 table-sm t88 table-bordered2 ">
    <tr class="td14" >
        <th >TOTAL RECETTE ESPECE</th>
        <th>0.000</th>
    </tr>

    <tr class="td15">
        <th >TOTAL ENTRÉE CAISSE</th>
        <th>0.000</th>
    </tr>

    <tr class="td16">
        <th > TOTAL RETRAIT CAISSE</th>
        <th>0.000</th>
    </tr>

    <tr class="td17">
        <th >RAPPORT DE CAISSE</th>
        <th>0.000</th>
    </tr>
</table><br>
<h2 class="f4"><b  class="f1">Liste des cheques</b></h2>
<table class=" t44 table-sm  table-bordered ">
    <thead class="thead2">
      <tr>
        <th>Date Saisie</th>
        <th >Echéance</th>
        <th >Type Paiement </th>
        <th >Montant (dt) </th>
    </tr>
    </thead>
    <tbody *ngFor="let reglementclt of reglementclts">
        <tr *ngIf="reglementclt.mode == 'cheque'">
          <td>{{reglementclt.date}}</td>
          <td>{{reglementclt.date_echeance}}</td>
          <td>{{reglementclt.type_pay}}</td>
          <td>{{reglementclt.montant}}</td>
        </tr>
      
             
       </tbody>
       <tfoot>
        <tr class="tdd">
          <td colspan="3">Total Paiement</td>
           <td class="td00">0,000 dt</td>

         </tr>
      </tfoot>
  </table> 
  <br>
  <h2 class="f4"><b  class="f1">Liste des traites
</b></h2>
<table class=" t44 table-sm  table-bordered ">
    <thead class="thead2">
      <tr>
        <th>Date Saisie</th>
        <th >Echéance</th>
        <th >Type Paiement </th>
        <th >Montant (dt) </th>
    </tr>
    </thead>
    <tbody *ngFor="let reglementclt of reglementclts">
        <tr *ngIf="reglementclt.mode == 'traite'">
          <td>{{reglementclt.date}}</td>
          <td>{{reglementclt.date_echeance}}</td>
          <td>{{reglementclt.type_pay}}</td>
          <td>{{reglementclt.montant}}</td>
        </tr>
      
             
       </tbody>
       <tfoot>
        <tr class="tdd">
          <td colspan="3">Total Paiement</td>
           <td class="td00">0,000 dt</td>

         </tr>
      </tfoot>
  </table> 
  <br>
  <h2 class="f4"><b  class="f1">Liste des TPE
</b></h2>
<table class=" t44 table-sm  table-bordered ">
    <thead class="thead2">
      <tr>
        <th>Date Saisie</th>
        <th >Echéance</th>
        <th >Type Paiement </th>
        <th >Montant (dt) </th>
    </tr>
    </thead>
    <tbody *ngFor="let reglementclt of reglementclts">
        <tr *ngIf="reglementclt.mode == 'tpe'">
          <td>{{reglementclt.date}}</td>
          <td>{{reglementclt.date_echeance}}</td>
          <td>{{reglementclt.type_pay}}</td>
          <td>{{reglementclt.montant}}</td>
        </tr>
      
             
       </tbody>
       <tfoot>
        <tr class="tdd">
          <td colspan="3">Total Paiement</td>
           <td class="td00">0,000 dt</td>

         </tr>
      </tfoot>
  </table> 
  <br>
  <h2 class="f4"><b  class="f1">Liste des cheques cadeaux
</b></h2>
<table class=" t44 table-sm  table-bordered ">
    <thead class="thead2">
      <tr>
        <th>Date Saisie</th>
        <th >Echéance</th>
        <th >Type Paiement </th>
        <th >Montant (dt) </th>
    </tr>
    </thead>
    <tbody *ngFor="let reglementclt of reglementclts">
        <tr *ngIf="reglementclt.mode == 'cheque cadeau'">
          <td>{{reglementclt.date}}</td>
          <td>{{reglementclt.date_echeance}}</td>
          <td>{{reglementclt.type_pay}}</td>
          <td>{{reglementclt.montant}}</td>
        </tr>
      
             
       </tbody>
       <tfoot>
        <tr class="tdd">
          <td colspan="3">Total Paiement</td>
           <td class="td00">0,000 dt</td>

         </tr>
      </tfoot>
  </table> 
  <br>
  <h2 class="f4"><b  class="f1">Liste des virements
</b></h2>
<table class=" t44 table-sm  table-bordered ">
    <thead class="thead2">
      <tr>
        <th>Date Saisie</th>
        <th >Echéance</th>
        <th >Type Paiement </th>
        <th >Montant (dt) </th>
    </tr>
    </thead>
    <tbody *ngFor="let reglementclt of reglementclts">
        <tr *ngIf="reglementclt.mode == 'virement'">
          <td>{{reglementclt.date}}</td>
          <td>{{reglementclt.date_echeance}}</td>
          <td>{{reglementclt.type_pay}}</td>
          <td>{{reglementclt.montant}}</td>
        </tr>
      
             
       </tbody>
       <tfoot>
        <tr class="tdd">
          <td colspan="3">Total Paiement</td>
           <td class="td00">0,000 dt</td>

         </tr>
      </tfoot>
  </table> 
       

    </div>
</div>