<app-header></app-header>
<div >
  <div class="am-content">
    <div class="page-head">
        <h2>DETAILS DES VENTES</h2>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a >Etats</a></li>
          <li class="breadcrumb-item"><a href="/etatventes">Details des ventes</a></li>
        </ol>
      </div>
      <div class="main-content">
        <div class="row">
          
          <div class="col-md-6">
            <div class="card3">
              <div class="card-header">
              
                <h3>Details des ventes </h3>
              </div>
              
              
              <div class="card-body">
                <form role="form" data-parsley-validate="" novalidate="" >
                  <div class="form-group radio00 "> 
                    <label>Période de début:</label>
                    <input class="form-control1 label3" type="date" >
    
                  </div>
                  <div class="form-group "> 
                    <label>Période de fin:</label>
                    <input class="form-control1 label3" type="date" >
    
                  </div>
                  <div class="form-group "> 
                    <label>Article:</label>

                      <select class="form-control1 label3">
                        <option>--tous--</option>
                      </select>
                  </div>
                  <div class="form-group "> 
                    <label>Source:</label>

                      <select class="form-control1 label3">
                        <option>--tous--</option>
                      </select>
                  </div>
                
                  <br><br>
                  
                 <a class="b8 btn btn-space btn-primary" href="/imprimeretatdetailvente" target="_blanc">Imprimer</a>
                  <button class="btn btn-space btn-primary" type="submit">Annuler</button>                </form>
                </div>
              </div>
           
          