
<html>
    <body>
        <br><br>
        <p class="p33 radio02" ><b>Suivi paiement de facture  </b></p>
        <br><br>
        <h4 class=" h5"><b>{{message}}</b></h4><br>
        <a href="/imprimersuivireglement2" target="_blanc" class="imp img2 s7-print" title="imprimer"></a>
        <table class=" t341 table-sm  table-bordered ">
            <thead class="thead2">
              <tr>
                <th>Date paiement</th>
                <th >Type Paiement </th>
                <th >Montant payé (DT) </th>
                <th >Action </th>
            </tr>
            </thead>
            <tbody *ngFor="let paiementfrs of paiementfrss">
              <tr *ngIf="paiementfrs.id">
                <td>{{paiementfrs.date}}</td>
                <td *ngIf="paiementfrs.mode =='cheque'">{{paiementfrs.type_ch}} / {{paiementfrs.num}}</td>
                <td *ngIf="paiementfrs.mode =='traite'">{{paiementfrs.type_traite}} / {{paiementfrs.num}}</td>
                <td *ngIf="paiementfrs.mode =='espece'"> Especes </td>
                <td *ngIf="paiementfrs.mode =='cheque cadeau'">cheque cadeau/ {{paiementfrs.num}} </td>
                <td *ngIf="paiementfrs.mode =='tpe'">tpe </td>
                <td *ngIf="paiementfrs.mode =='virement'">virement </td>
                <td>{{paiementfrs.montant}}   </td>
                <td><a  class="img2 s7-trash" title="supprimer" (click)="supprimer(paiementfrs.id)"></a></td>
              </tr>
              
                  
            </tbody>
            <tfoot>
              <tr class="tdd">
                <td colspan="2"><b>RS</b></td>
                 <td class="td5"  ><b>0,009 DT</b></td>
                 <td></td>
 
            </tr>
          <tr class="tdd">
           <td colspan="2"><b>Total Paiement</b></td>
            <td class="td00"><b>0,000 DT</b></td>
            <td></td>
          </tr>
            </tfoot>
          </table> 
        
         <button class="b55 btn btn-dark" onClick="self.close()">Fermer</button>
    </body>
</html> 

