<app-header></app-header>
<div >
  <div class="am-content">
    
      <div class="main-content">
        <div class="row">
          
          <div class="col-md-6">
            <div class="card3">
              <div class="card-header">
                <h3>Modifier RS FRS</h3><h4 class=" h5"><b>{{message}}</b></h4>
                </div>
                <br>
                <div>
              
                  <div class="form-group"> 
                    <label for="fournisseur_id" >Fournisseur</label>
  
                    <select  id="fournisseur_id" name="fournisseur_id" class="form-control label3" size="1" (change)="onSelectType($event.target)" [(ngModel)]="rsf.fournisseur_id"  required>
                      
                      <option
                        
                        *ngFor="let fournisseur of fournisseurs.controls; index as i"
                        [value]="fournisseur.value.id">{{fournisseur.value.raison_social}}
                    </option>
                    </select>
                  </div>
                <div class="form-group "> 
                    
                  <label for="date">Date Le </label><input type="date" id="date" name="date" class="form-control label3" size="1"  [(ngModel)]="rsf.date" required/>
                
                  </div>
                
                  
                  <div class="form-group "> 
                    
                    <label for="rs">RS</label><input type="text" id="rs" name="rs" class="form-control label3" size="1"  [(ngModel)]="rsf.rs"  required/>
                  
                    </div>
                   
        
     
              <button class="btn1 btn btn-space btn-primary radio0000"  type="submit" (click)="modifierrsf()">Modifier</button>
              <button class="btn1 btn btn-space btn-primary"  type="submit" (click)="reset()">Annuler</button>
           
                </div>
                  
                  
                </div>
             
           
                <br>
                <div class="card3" *ngIf="rsf.fournisseur_id">
                  <div class="card-header">
                    <h3>Facture Frs</h3>
                  </div>
                  
                    <table class=" t2 table-sm  table-bordered ">
                      <thead class="thead1">
                        <tr>
                          
                          <th><input type="checkbox"></th>
                          <th >Num Facture</th>
                          <th >Date Facture</th>
                          <th >Fournisseur</th>
                          <th >Montant Facture</th>
                          <th >RS</th>
                          <th >Montant Net</th>
                          
                          
                        </tr>
                      </thead>
                      <tbody *ngFor="let rsf of rsfs">
                        <tr  *ngFor="let document of documents">
                          <td *ngIf="document.type == 12 && document.fournisseur_id == rsf.fournisseur_id"><input type="checkbox"></td>
                          <td *ngIf="document.type == 12 && document.fournisseur_id == rsf.fournisseur_id">{{document.num}}</td>
                          <td *ngIf="document.type == 12 && document.fournisseur_id == rsf.fournisseur_id">{{document.date}}</td>
                          <td *ngIf="document.type == 12 && document.fournisseur_id == rsf.fournisseur_id">{{rsf.fournisseur_id}}</td>
                          <td *ngIf="document.type == 12 && document.fournisseur_id == rsf.fournisseur_id">{{rsf.montant}}</td>
                          <td *ngIf="document.type == 12 && document.fournisseur_id == rsf.fournisseur_id">{{rsf.rs}}</td>
                          <td *ngIf="document.type == 12 && document.fournisseur_id == rsf.fournisseur_id">{{rsf.net}}</td>
                          
                        </tr>
                       
                      </tbody>
                      <tfoot>
                        <tr class="thead1">
                          <th colspan="4">Total</th>
                          <th>0.000</th>
                          <th>0.000</th>
                          <th>0.000</th>
                        </tr>  
                      </tfoot>
                    </table>
                   <br>
                  </div>
                  <br>
                  <div class="card3" *ngIf="rsf.fournisseur_id">
                    <div class="card-header">
                      <h3>Facture Avoir Frs</h3>
                    </div>
                    
                      <table class=" t2 table-sm  table-bordered ">
                        <thead class="thead1">
                          <tr>
                            
                            <th><input type="checkbox"></th>
                            <th >Num Facture</th>
                            <th >Date Facture</th>
                            <th >Fournisseur</th>
                            <th >Montant Facture</th>
                            <th >RS</th>
                            <th >Montant Net</th>
                            
                            
                          </tr>
                        </thead>
                        <tbody *ngFor="let rsf of rsfs">
                          <tr *ngFor="let document of documents">
                            <td *ngIf="document.type == 11 && document.fournisseur_id == rsf.fournisseur_id"><input type="checkbox"></td>
                            <td *ngIf="document.type == 11 && document.fournisseur_id == rsf.fournisseur_id">{{document.num}}</td>
                          <td *ngIf="document.type == 11 && document.fournisseur_id == rsf.fournisseur_id">{{document.date}}</td>
                            <td *ngIf="document.type == 11 && document.fournisseur_id == rsf.fournisseur_id">{{rsf.fournisseur_id}}</td>
                            <td *ngIf="document.type == 11 && document.fournisseur_id == rsf.fournisseur_id">{{rsf.montant}}</td>
                            <td *ngIf="document.type == 11 && document.fournisseur_id == rsf.fournisseur_id">{{rsf.rs}}</td>
                            <td *ngIf="document.type == 11 && document.fournisseur_id == rsf.fournisseur_id">{{rsf.net}}</td>
                            
                          </tr>
                          
                        </tbody>
                        <tfoot>
                          <tr class="thead1">
                            <th colspan="4">Total</th>
                            <th>0.000</th>
                            <th>0.000</th>
                            <th>0.000</th>
                          </tr>  
                        </tfoot>
                      </table>
                     <br>
                    </div>
                    <br>
                    <div class="card3" *ngIf="rsf.fournisseur_id">
                      <div class="card-header">
                        <h3>Total</h3>
                      </div>
                      
                        <table class=" t2 table-sm  table-bordered ">
                          <thead class="thead1">
                            <tr>
                                <th><b>TOTAL</b></th>
                                <th>0.000</th>
                                <th>0.000</th>
                                <th>0.000</th>
                            </tr>
                  
                       
                        </thead>
                        <tbody>
                         
                        
                       
                            
                        </tbody>
                    </table><br>
                    <button class="b6 btn btn-space btn-primary"  type="submit">Valider</button>
                      </div>
      
                </div>
         
                   
  
  


  

