<app-header></app-header>
<div >
  <div class="am-content">
    
      <div class="main-content">
        <div class="row">
          
          <div class="col-md-6">
            <div class="card3">
              <div class="card-header">
                <h3>Modifier région</h3><h4 class=" h5"><b>{{message}}</b></h4>
                </div>
                <div>
           
             
              <br>
              
              <div class="form-group radio0000 "> 
                    
                <label for="libelle">libelle région:</label>
                <input type="text" id="libelle" class="form-control1 label11" required  [(ngModel)]="region.libelle"/>
              
                </div>
                
              <button class="btn1 btn btn-space btn-primary radio0000"  type="submit" (click)="modifierRegion()">Modifier</button>
              <button class="btn1 btn btn-space btn-primary"  type="submit"(click)="reset()" >Annuler</button>
              <br><br>
              </div>
                  
                  
                </div>
              </div>
           
          
          
          </div>
        </div>
      </div>
    </div>


  

