<app-header></app-header>
<div >
  <div class="am-content">
    <div class="page-head">
        <h2>FACTURE CLIENT</h2>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a >Ventes</a></li>
          <li class="breadcrumb-item"><a href="/facturationc">Facture client</a></li>
        </ol>
      </div>
      <div class="main-content">
        <div class="row">
          <div class="col-md-6">
            <div class="card3">
              <div class="card-header">
                <h3>Nouvelle facture </h3><h4 class=" h5"><b>{{message}}</b></h4>
              </div>
              <div class="card-body">
                <div>
                  <div  class="form-group ">
                    <label for="num">Facture N°</label>   
                    <input class="form-control label3" type="text" id="num" name="num" [(ngModel)]="document.num"  #num="ngModel" minlength="2" maxlength="5" pattern="[0-9\s ]*" required>
                    <div *ngIf="num.invalid && (num.dirty || num.touched)"
                    class="f55">
                
                  <div *ngIf="num.errors.required">
                   champs num est obligatoire.
                  </div>
                  <div *ngIf="num.errors.minlength">
                    num doit comporter au moins 2 caractères.
                  </div>
                  <div *ngIf="num.errors.maxlength">
                    num doit contenir au maximum 5 caractères.
                  </div>
                  <div *ngIf="num.errors.pattern">
                    num doit être un numero.
                  </div>
                </div>
                  </div>
				  <div class="form-group">
            <label for="client_id">Client</label>
            <select  id="client_id" name="client_id" class="form-control label3" size="1"  #client_id="ngModel" (change)="onSelectType($event.target)" [(ngModel)]="document.client_id"  required>
                
              <option
                
                *ngFor="let client of clients.controls; index as i"
                [value]="client.value.id">{{client.value.raison_social}}
            </option>
            </select>
            <div *ngIf="client_id.invalid && (client_id.dirty || client_id.touched)"
            class="f55">
        
          <div *ngIf="client_id.errors.required">
           champs client_id est obligatoire.
          </div>
          </div>
          </div>
          <div class="form-group">
            <label for="date">Sfax le</label>
            <input class="form-control label3"  type="date" id="date" name="date" #date="ngModel" [(ngModel)]="document.date"  required>
          </div>
				   <div class="form-group">
            <label for="date_dec">Date de déclaration:</label>
            <input class="form-control label3" type="date"  id="date_dec" name="date_dec" #date_dec="ngModel" [(ngModel)]="document.date_dec"  required>
                  </div>
                  <div class="form-group">
                    <label for="timbre">Timbre DT:</label>
                    <input class="form-control label3" type="text" placeholder="0.600" id="timbre" name="timbre" #timbre="ngModel" [(ngModel)]="document.timbre"  required>
                  </div>
<br><br>

				 
                  <button class="b8 btn btn-space btn-primary" type="submit"  (click)="ajouterFacture()">Ajouter</button>
                  <button class="btn btn-space btn-primary" type="submit" (click)="reset()">Annuler</button>

                </div>
              </div>
            </div>
          </div>
          
          </div>
        </div>
      </div>
  </div>

