<div id='sectionAimprimer'>
    
    <div class="page-head2"   id="tblData">
        <h1 class="radio36 f4"><a href="javascript:imprimer('sectionAimprimer')"  ><b class="f1">RECETTES </b></a>
            <a href="javascript:Export('tblData','RECETTES')" class="radio01"><img src="/assets/img/pdf.JPG" title="exporter en pdf"></a>
            <a href="javascript:exportTableToExcel('tblData','RECETTES ')"  class="radio111"><img src="/assets/img/excel.JPG" title="exporter en excel"></a>
        </h1>
        <br>
        <table class=" f4 t44 table-sm t88 table-bordered2 ">
          <thead >
    
          <tr > 
            <th >Date impression</th>
            <th >Periode du</th>
            <th >Au</th>
            <th >Page</th>
          
 
          </tr>
         
        </thead>
        <tbody>
        <tr>
          <td ></td>
          <td ></td>
          <td ></td>
          <td ></td>
          
          
</tr> 
   
          </tbody>
      </table>
      
      <br>
        <table class=" f4 t44 table-sm t88  table-bordered2" >
          <thead >
    
          <tr > 
            <th >Date</th>
            <th >Caisse</th>
            <th >Espece</th>
            <th >Depense</th>
            <th >Entree</th>
            <th >TOT. Recette</th>
            <th ></th>
            <th >TOT. cheque</th>
            <th >TOT. Traite</th>
            <th >TOT. TPE</th>
            <th >TOT. VIREMENT</th>
          </tr>
         
        </thead>
        <tbody>
        <tr>
          <td ></td>
          <td ></td>
          <td >0.000</td>
          <td >0.000</td>
          <td >0.000</td>
          <td >0.000</td>
          <td ></td>
          <td >0.000</td>
          <td >0.000</td>
          <td >0.000</td>
          <td >0.000</td>
          
          
</tr> 
<tr class="tr1">
    <td  colspan="2"><b>TOTAL</b></td>
    
    <td ><b>0.000</b></td>
    <td ><b>0.000</b></td>
    <td ><b>0.000</b></td>
    <td ><b>0.000</b></td>
    <td ></td>
    <td ><b>0.000</b></td>
    <td ><b>0.000</b></td>
    <td ><b>0.000</b></td>
    <td ><b>0.000</b></td>
    
    
</tr>
          </tbody>
      </table>
      
     
     
      </div>
      
  
</div>   