<div  id='sectionAimprimer'>
    
    <div class="page-head2"  id="tblData">
        <h1 class="radio39 f4"><a href="javascript:imprimer('sectionAimprimer')"  ><b class="f1">ETAT CHEQUES CLIENTS</b></a>
            <a href="javascript:exportTableToExcel('tblData','ETAT CHEQUES CLIENTS ')" class="radio111"><img src="/assets/img/excel.JPG" title="exporter en excel"></a>
        </h1>
        <h4 class="radio39 f4 f1"><span>Date Impression: {{myDate | date: 'mediumDate' }}</span> &nbsp; <span *ngIf="magasin.libelle"> Boutique: {{magasin.libelle}}</span> &nbsp; <span *ngIf="lignebordereau.login">Par: {{lignebordereau.login}}</span> </h4>
        <br><br>
        <table class="tr33  t44 table-sm t88  table-bordered2">
          <thead *ngFor="let reglementclt of reglementclts">
    
          <tr *ngFor="let lignebordereau of lignebordereaux"> 
            <th *ngIf="reglementclt.mode == 'cheque' && reglementclt.id == lignebordereau.reglementcls_id" >Client: {{reglementclt.client}} </th>
            <th *ngIf="reglementclt.mode == 'cheque' && reglementclt.id == lignebordereau.reglementcls_id" >Selon: {{reglementclt.type_date}}</th>
            <th *ngIf=" reglementclt.mode == 'cheque' && reglementclt.id == lignebordereau.reglementcls_id" >Date Debut: {{reglementclt.date}}</th>
            <th *ngIf="reglementclt.mode == 'cheque' && reglementclt.id == lignebordereau.reglementcls_id">Date Fin: {{reglementclt.date_echeance}} </th>
           
          </tr>
          <tr *ngFor="let lignebordereau of lignebordereaux"> 
            <th *ngIf= " reglementclt.mode == 'cheque' && reglementclt.id == lignebordereau.reglementcls_id">Source: {{lignebordereau.source}} </th>
            <th *ngIf="reglementclt.mode == 'cheque' && reglementclt.id == lignebordereau.reglementcls_id">Type Cheque:{{lignebordereau.type_ch}}</th>
            <th *ngIf="reglementclt.mode == 'cheque' && reglementclt.id == lignebordereau.reglementcls_id">Etat Cheque: {{reglementclt.etat_ch}}</th>
            <th *ngIf="reglementclt.mode == 'cheque' && reglementclt.id == lignebordereau.reglementcls_id">Utilisateur: {{lignebordereau.login}} </th>
           
          </tr>
        </thead>
        
          </table>
        
      
      
        <table class="  t44 table-sm t88  table-bordered2">
          <thead >
    
          <tr > 
            <th >Num Source </th>
            <th >Num Cheque</th>
            <th >Banque</th>
            <th >Client </th>
            <th >Date Reception</th>
            <th >Date Echeance</th>
            <th >Recu Par </th>
            <th >Montant</th>
            <th >Solder</th>
            <th >Non Solder</th>
            
          </tr>
         
        </thead>
        <tbody *ngFor="let reglementclt of reglementclts">
            <tr>
                <td *ngIf=" reglementclt.mode == 'cheque'">{{lignebordereau.source_id}}</td>
                <td *ngIf=" reglementclt.mode == 'cheque'">{{reglementclt.num}}</td>
                <td *ngIf=" reglementclt.mode == 'cheque'">{{reglementclt.banque}}</td>
                <td *ngIf=" reglementclt.mode == 'cheque'">{{reglementclt.client}}</td>
                <td *ngIf=" reglementclt.mode == 'cheque'">{{reglementclt.date}}</td>
                <td *ngIf=" reglementclt.mode == 'cheque'">{{reglementclt.date_echeance}}</td>
                <td *ngIf=" reglementclt.mode == 'cheque'">{{lignebordereau.login}}</td>
                <td *ngIf=" reglementclt.mode == 'cheque'">{{reglementclt.montant}}</td>
                <td *ngIf=" reglementclt.mode == 'cheque'">{{reglementclt.solder}}</td>
                <td *ngIf=" reglementclt.mode == 'cheque'">{{reglementclt.non_solder}}</td>
                
              </tr> 
 
          </tbody>
          <tfoot>
            <tr class="tr3">
              <td  colspan="7"><b>TOTAL</b></td>
              
              <td ><b>0.000</b></td>
              <td ><b>0.000</b></td>
              <td ><b>0.000</b></td>
            </tr> 
          </tfoot>
      </table>
      
     
      </div>
      
  
</div>   
