<div id="tblData">
    <div class="page-head2" >
        <a href="javascript:Export('tblData','retenue')" class="radio8"><img src="/assets/img/pdf.JPG" title="exporter en pdf"></a>

        <br><p class="radio022 f4 f1">REPUBLIQUE TUNISIENNE </p><b class="radio44 f4 f1">CERTIFICAT DE RETENUE D’IMPOT</b>
        <br><p class=" f4 f1 radio0000">MINISTERE DU PLAN ET DES FINANCES </p> <b class="radio44 f4 f1">SUR LE REVENU</b>
        <br><b class="radio66 f4 f1">OU D’IMPOT SUR LES SOCIETES</b>
        <br><p class=" f4 f1 radio71">DIRECTION GENERALE</p> 
        <br><p class=" f4 f1 radio71">DU CONTROLE FISCAL</p> 
        <br>
        <table class=" f4 t44 table-sm f1 table-bordered2 ">
        
            <tr>
                <br>
                <b class="radio1110">A-PERSONNE OU ORGANISME PAYEUR</b><b class="radio44">IDENTIFIANT</b>
                <br>
                <table class=" radio55 f4 t55 table-sm t88 table-bordered2 ">
        
                        <tr>
                            <th>Matricule fiscale</th> 
                            <th>Code TVA</th>
                            <th>Code catégorie(2)</th> 
                            <th>N° Etab. secondaire</th>
                        </tr>
                        <tr>
                            <th>111111111 </th>
                            <th>a</th>
                            <th>m</th>
                            <th>000</th>
                        </tr>
                </table>
                <br>
                <p class="radio1110">Dénomination de la personne ou de l’organisme payeur : ------- </p>
                <p class="radio1110">Adresse : ------------------</p>
                <br>
                <table class="radio11 f4 t441  ">
                    <tr >
                        <th >B– RETENUES EFFECTUEES SUR : </th>
                        <th >MONTANT BRUT</th>
                        <th >RETENUE
                            1.5% </th>
                        <th >MONTANT NET</th>

                    </tr>
                        <tr>
                            <td rowspan="5">- Marchés <br><br>
                                - Commissions, courtages, matériel et loyers……………..<br><br>
                                - Redevances………………………………………………..<br><br>
                                - Revenus des comptes spéciaux d’épargne ouvert auprès des banques<br><br>
                                - Revenus des capitaux mobiliers………………………………………..<br><br>
                                - Droit de timbre…………………………………

                            </td> 
                            <td ></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            
                            <td ></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            
                            <td ></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            
                            <td ></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            
                            <td ></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Total Général………………. </th>
                            <th>0.000 </th>
                            <th>0.000 </th>
                            <th>0.000 </th>
                        </tr>
                        
                </table>
         
        <br>
        <b class="radio1110">C– BENEFICIAIRE</b><b class="radio55">IDENTIFIANT</b><br>
        
        <table class=" radio55 f4 t55 t88 table-bordered2 ">

            <tr>
                <th>Matricule fiscale</th> 
                <th>Code TVA</th>
                <th>Code catégorie(2)</th> 
                <th>N° Etab. secondaire</th>
            </tr>
            <tr>
                <th>111111111 </th>
                <th>a</th>
                <th>m</th>
                <th>000</th>
            </tr>
    </table>
    <br><p class=" f4 f1 radio71">N° de la carte d’identité ou de séjour pour les étrangers
        <table class="radio200"> <tr ><td></td> <td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></table>
        <br>
                <p class="radio1110"><b>Nom, prénoms ou raison sociale : -------</b> </p>
                <p class="radio1110"><b>Adresse de résidence : ---------</b></p>
        <br>
        <p class="radio1110"><b>Commentaire : Facture N° 1213532 / 556</b> </p>
        <p class="radio71"><b>Facture N° 1213532 / 556 </b></p>
        <p class="radio1110"><b> Réglement :</b> 
        </p>
        <br>  
        <p class="radio40">Je soussigné, certifie exacts les renseignements figurant sur le présent</p>
        <p class="radio3">Certificat et m’expose aux actions prévues par la loi pour toute inexactitude. </p>
        <p class="radio36">A SFAX, le 2020-03-17</p>
        <p class="radio41">Cachet et signature du payeur </p>
        <br><br><br><br>
        </table>
        <p class="f1 f4 radio1110">(1) Le certificat est délivré à l’occasion de chaque payement Toute fois, pour les opérations répétitives, le certificat peut être délivré trimestriellement</p>
        <p class="f1 f4 radio1110">(2) Code catégorie: M. personne morales - C. personnes physique « industrie et commerce » - P. professions libérales. – N. employeurs non soumis à l’impôt
            sur le revenue </p>
    </div>
</div>
