<div id="tblData">
    <div class="page-head2" >
        <h1 class="radio43 f4"><b  class="f1">Paiements des Personnels </b>
            <a href="javascript:Export('tblData','Paiements des Personnels')" class="radio11"><img src="/assets/img/pdf.JPG" title="exporter en pdf"></a>

        </h1>  
        <br>
        <table class=" f4 t44 table-sm t88 table-bordered2 ">
            <thead>
            <tr >
                <th >Date salaire</th>
                <th >Date paiement</th>
               
                <th >Remarque</th>
                <th >Responsable
                </th>
                <th >Montant</th>
            </tr>
        </thead>
        <tbody *ngFor="let paiementpersonel of paiementpersonels">
            
            <tr >
                    <th colspan="5" class="thead3" ><span *ngFor="let personel of personelss"><span *ngIf="personel.id == paiementpersonel.personnel_id">{{personel.nom}}</span></span> </th> 
                    
                </tr>
                <tr *ngFor="let personel of personelss" >
                    <td *ngIf="paiementpersonel.personnel_id == personel.id">{{paiementpersonel.date_salaire}}</td>
                    <td *ngIf="paiementpersonel.personnel_id == personel.id">{{paiementpersonel.date}}</td>
                    <td *ngIf="paiementpersonel.personnel_id == personel.id">{{paiementpersonel.remarque}}</td>
                    <td *ngIf="paiementpersonel.personnel_id == personel.id">{{paiementpersonel.login}}</td>
                    <td *ngIf="paiementpersonel.personnel_id == personel.id">{{paiementpersonel.montant}}</td>
                </tr>
          
            </tbody>
            <tfoot>
                <tr class="tr3">
                    <td colspan="4"><b>TOTAL</b></td>
                   
                    <td><b>0.000 DT</b></td>
                </tr>
                
            </tfoot>
              
            </table>


    </div>
</div>