<app-header></app-header>
<div class="am-content">
    <div class="main-content">
      <div class="user-profile">
        <div class="user-display">
          <div class="photo"><img src="/assets/img/profile.jpg"></div>
          <div class="bottom">
            <div class="user-avatar"><span class="status"></span><img src="assets/img/avatar.png"></div>
            <div class="user-info">
              <h4>Nom personel</h4>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-lg-4 col-md-12">
            <div class="  info-block card4">
              <div class="card-header">
                <h4>About me</h4>
              </div>
              <div class="card-body">
                <table class="radio111 no-border no-strip skills ">
                  <tbody class="no-border-x no-border-y">
                    <tr>
                        <td class="item">Nom:<span class="icon s7-id"></span></td>
                        <td>-------------------</td>
                      </tr>
                      <tr>
                        <td class="item">Prenom:<span class="icon s7-id"></span></td>
                        <td>-------------------------</td>
                      </tr>
                    <tr>
                      <td class="item">Cin:<span class="icon s7-credit"></span></td>
                      <td>------------------</td>
                    </tr>
                    <tr>
                      <td class="item">Tel:<span class="icon s7-phone"></span></td>
                      <td>---------------------</td>
                    </tr>
                    <tr>
                      <td class="item">Adresse:<span class="icon s7-map-marker"></span></td>
                      <td>--------------</td>
                    </tr>
                    <tr>
                      <td class="item">Salaire:<span class="icon s7-cash"></span></td>
                      <td>------------------</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          
          
        
          
          </div>
        </div>
      </div>
  
  </div>