
  <div class="am-wrapper am-fixed-sidebar">
    <nav class="navbar navbar-expand-md fixed-top am-top-header">
      <div class="container-fluid">
        
        <div class="collapse navbar-collapse" id="am-navbar-collapse">
           <!--liste de profile-->
          <ul class="navbar-nav am-user-nav">
            <li class="dropdown"><a class="dropdown-toggle la1" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><img  class="im11" src="assets/img/avatar.png"></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/profile"> <span class="icon s7-user"></span>Ma profile</a></li>
                <li><a href="/"> <span class="icon s7-power"></span>Deconnexion</a></li>
              </ul>
            </li>
          </ul>
        
         <!--<a href="/header"><img class="logo1"src="/assets/img/ibs.jpg"/></a>
          <label class="la"><b>Magasin&nbsp;&nbsp;&nbsp;&nbsp;</b></label><select class="form-control1 label1"><option></option></select>--> 
          
            
          <ul class=" navbar-nav la2 ">
              <li><a href="/caisse">Vente a la caisse</a></li>              
              <li><a href="/listestickets">Tickets</a></li>
              <li><a href="/journalcaisse">Journal caisse</a></li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">BLs Clts <span class="angle-down s7-angle-down"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/blclient">Ajouter BL </a></li>
                  <li><a href="/listeblc">Listes des BLs</a></li>
              
                </ul>
              </li>
         
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Factures Clts <span class="angle-down s7-angle-down"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/facturationc">Ajouter facture </a></li>
                  <li><a href="/listefacturec">Listes des factures</a></li>
              
                </ul>
              </li>

              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">BE Frs <span class="angle-down s7-angle-down"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/befournisseur">Ajouter BE </a></li>
                  <li><a href="/listebef">Listes des BE</a></li>
              
                </ul>
              </li>
         
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Factures Frs <span class="angle-down s7-angle-down"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/facturationf">Ajouter facture </a></li>
                  <li><a href="/listefacturef">Listes des factures</a></li>
              
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Banques <span class="angle-down s7-angle-down"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/etatchequesclient">Etat des cheques clients </a></li>
                  <li><a href="/etattraitesclient">Etat des traites clients </a></li> 
                  <li><a href="/etatchequesfournisseur">Etat des cheques fournisseurs </a></li>                  
                  <li><a href="/etattraitesfournisseur">Etat des traites fournisseurs </a></li>
                  <li><a href="listebodoreau">Listes des bordereaux par banque </a></li> 
                  <li><a href="/etatordrepaiement">Etat des ordres de paiements </a></li> 
              
                </ul>
              </li>
            
          </ul>
         
        </div>
      </div>
      
    </nav>
    <div class="am-left-sidebar">
      
      <div class="content">
      
        <div class="am-logo"></div>
        <ul class="sidebar-elements">
          
          <li class="parent"><a href="/header"><i class="icon s7-display1"></i><span>Tableau de board</span></a>
            <ul class="sub-menu">
              <li><a href="#">Analyse general </a></li>
              <li><a href="/analysevente">Analyse de vente </a></li>
              <li><a href="#">Etat de benifices</a></li>
              <li><a href="#">Etat de vérification</a></li>
              <li><a href="/detailvente">Details de ventes</a></li>
              <li><a href="#">Traçabilité BL </a></li>
              <li><a href="#">Traçabilité Facture </a></li>
              <li><a href="#">Etat de recette</a></li>
              <li><a href="#">Etat stock</a></li>
              <li><a href="#">Journal de caisse</a></li>
              <li><a href="#">Etat  des traites clients</a></li>

            </ul>
          </li>
          <li class="parent"><a href="/header"><i class="icon s7-box2"></i><span>Produits</span></a>
            <ul class="sub-menu">
              <li><a href = "/produit">Gestion des produits</a></li>
                <li><a href = "/listeproduit">Listes des produits</a></li>
                <li><a href="/marque">Gestion des marques</a></li>
                <li><a href="/categorie">Gestion des categories</a></li>
                <li><a href="/famille">Gestion des familles</a></li>
                <li><a href="/fichegarentie">Fiche de garentie</a></li>
                <li><a href="/listefichegarentie">Listes des fiches des garenties</a></li>

            </ul>
          </li>
          <li class="parent"><a href="/header"><i class="icon s7-cart"></i><span>Vente à la caisse </span></a>
            <ul class="sub-menu">
              <li><a href="/caisse">Vente à la caisse</a></li>
              <li><a href="/la-caisse">Listes des caisses</a></li>
              <li><a href="/entreecaisse">Entrée caisse</a></li>
              <li><a href="/retraitcaisse">Retrait caisse</a></li>
              <li><a href="/listestickets">Listes des tickets</a></li>
              <li><a href="/journalcaisse">Journal de caisse</a></li>
            </ul>
          </li>
          <li class="parent"><a href="/header"><i class="icon s7-shopbag"></i><span>Achats </span></a>
            <ul class="sub-menu">
              <li><a href="/fournisseurs">Fournisseurs</a></li>
              <li><a href="/bcfournisseur">Commande fournisseurs</a></li>
              <li><a href="/listebcf">Listes des commandes fournisseurs</a></li>
              <li><a href="/befournisseur">Bon d'entrée stock </a></li>
              <li><a href="/listebef">Listes des bons d'entrées stocks</a></li>
              <li><a href="/facturationf">Facture fournisseur</a></li>
              <li><a href="/listefacturef">Listes des factures fournisseurs</a></li>
              <li><a href="/retourbe">Bon de retour stock</a></li>
              <li><a href="/facturationfavoir">Facture avoir fournisseur</a></li>
              <li><a href="/listefactureavoirf">Listes des factures avoires fournisseurs</a></li>
              <li><a href="/retenuesourcef">Retenue a la source fournisseur</a></li>
              <li><a href="/listeretenuesourcef">Listes des Retenues a la source </a></li>
              <li><a href="/paiementf">Paiements fournisseur</a></li>
            </ul>
          </li>
          <li class="parent"><a href="/header"><i class="icon s7-network"></i><span>Stock</span></a>
            <ul class="sub-menu">
              <li><a href="/mouvementstock">Mouvement de stock</a></li>
              <li><a href="/etatstock">Etat de stock</a></li>
              <li><a href="/inventaire">Inventaire</a></li>
            </ul>
          </li>
          <li class="parent"><a href="/header"><i class="icon s7-cash"></i><span>Ventes </span></a>
            <ul class="sub-menu">
              <li><a href="/clients">Clients</a></li>
              <li><a href="/devis">Devis</a></li>
              <li><a href="/bcclient">Commande client</a></li>
              <li><a href="/listebcc">Listes des commandes clients</a></li>
              <li><a href="/blclient">Bon de livraison client</a></li>
              <li><a href="/listeblc">Listes des bons des livraison clients</a></li>
              <li><a href="/facturationc">Facture client</a></li>
              <li><a href="/listefacturec">Listes factures clients</a></li>
              <li><a href="/retourbl">Bon de retour client</a></li>
              <li><a href="/facturationcavoir">Facture avoir client</a></li>
              <li><a href="/listefactureavoirc">Listes factures avoires clients</a></li>
              <li><a href="/factureproforma">Facture proforma  </a></li>
              <li><a href="/retenuesourcec">Retenue a la source client</a></li>
              <li><a href="/listeretenuesourcec">Listes des Retenues a la source </a></li>
              <li><a href="/reglementc">Réglement client</a></li>
            </ul>
          </li>
          <li class="parent"><a href="/header"><i class="icon s7-file"></i><span>Etats</span></a>
            <ul class="sub-menu">
             <!-- <li><a href="/etatjournal">Journal</a></li>-->
              <li><a href="/etatcomptec">Etat comptes clients</a></li>
              <li><a href="/etatcomptef">Etat comptes fournisseurs</a></li>
              <li><a href="/etatfacturec">Etat facture client</a></li>
              <li><a href="/etatfacturef">Etat facture fournisseur</a></li>
              <li><a href="/etatrecette">Etat de recette</a></li>
              <li><a href="/etatrecouvrementc">Etat recouvrement client</a></li>
              <li><a href="/etatrecouvrementf">Etat recouvrement fournisseur</a></li>
              <li><a href="/etatespecesclient" target="_blank">Etat especes client</a></li>
              <li><a href="/etatventes">Détails ventes</a></li>
              <li><a href="etattpe">Etat des TPE</a></li>
            </ul>
          </li>
          <li class="parent"><a href="/header"><i class="icon s7-users"></i><span>Personels </span></a>
            <ul class="sub-menu">
              <li><a href="/personels">Gestion personels</a></li>
              <li><a href="/paiementpersonel">Paiements personels</a></li>
              <li><a href="/listepaiementpersonel">Listes des paiements personels</a></li>
            </ul>
          </li>
          <li class="parent"><a href="/header"><i class="icon s7-news-paper"></i><span>Banques</span></a>
            <ul class="sub-menu">
              
              <li><a href="/etatchequesclient">Etat des cheques clients </a></li>
              <li><a href="/etattraitesclient">Etat des traites clients </a></li> 
              <li><a href="/etatchequesfournisseur">Etat des cheques fournisseurs </a></li>                  
              <li><a href="/etattraitesfournisseur">Etat des traites fournisseurs </a></li>
              <li><a href="listebodoreau">Listes des bordereaux par banque </a></li> 
              <li><a href="/etatordrepaiement">Etat des ordres de paiements </a></li> 
            </ul>
          </li>
          <li class="parent"><a href="/header"><i class="icon s7-ribbon"></i><span>Fiche de réception</span></a>
            <ul class="sub-menu">
              <li><a href="/fichereception">nouveau bon de réception </a></li>
                <li><a href="/listefichereception">Listes des bons de réceptions</a></li>
                <li ><a href="/casiers"><span>Casiers</span></a> </li>

              </ul>
          </li>
          <li class="parent"><a href="/header"><i class="icon s7-note2"></i><span>Traçabilité</span></a>
            <ul class="sub-menu">
              <li><a href="/tracabilitegeneral">Consulter l'historique </a></li>
            </ul>
          </li>
          
          <li class="parent"><a href="/header"><i class="icon s7-settings"></i><span>Paramétrages</span></a>
            <ul class="sub-menu">
              <!--<li><a href="/initialisercode">Initialiser code </a></li>-->
              <li><a href="/gerertva">Gérer TVA </a></li>
              <li><a href="/utilisateurs">Utilisateurs</a></li>              
              <li><a href="/societes">Sociétés</a></li>
              <li><a href="/magasins">Magasins</a></li>
              <li><a href="/banques">Banques</a></li>
              <li><a href="/regions">Regions</a></li>  
              <li><a href="/gestionsouches">Souches</a></li>  

            </ul>
          </li>
        </ul>
      </div>
    
  </div>
  <br>
  <div class="radio000 ">
    
      <img class="card5" src="/assets/img/bg-01.jpg">
    
    </div>
  
