

<app-header></app-header>
<div >
  <div class="am-content">
    <div class="page-head">
        <h2>COMMANDE FOURNISSEUR </h2>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a >Achats</a></li>
          <li class="breadcrumb-item"><a href="/bcfournisseur">Commande fournisseur</a></li>
        </ol>
      </div>
      <div class="main-content">
        <div class="row">
          <div class="col-md-6">
            <div class="card3">
              <div class="card-header">
                <h3>Nouvelle commande </h3><h4 class=" h5"><b>{{message}}</b></h4>
              </div>
              <div class="card-body">
                <div>
                    <div  class="form-group">
                        <label for="num">Commande N°</label>   
                        <input class="form-control label3" type="text" id="num" name="num" [(ngModel)]="document.num"  #num="ngModel" minlength="2" maxlength="5" pattern="[0-9\s ]*" required>
                        <div *ngIf="num.invalid && (num.dirty || num.touched)"
                        class="f55">
                    
                      <div *ngIf="num.errors.required">
                       champs num est obligatoire.
                      </div>
                      <div *ngIf="num.errors.minlength">
                        num doit comporter au moins 2 caractères.
                      </div>
                      <div *ngIf="num.errors.maxlength">
                        num doit contenir au maximum 5 caractères.
                      </div>
                      <div *ngIf="num.errors.pattern">
                        num doit être un numero.
                      </div>
                    </div>
                      </div>
                      <!--
                         num:null,,
                          date:null,,
                          etat:null,
                          fodec:null,
                          etat_pay:null,
                          type_pay:null,
                          rs:null,
                          etat_rs:null,
                          login:null,
                          date_retenu:null ,
                          type:6,
                            date_prev:null,,
                          date_dec:null,
                          timbre:null,
                          date_fin:null,
                          fournisseur_id:null,,
                          designation:null,,
                          client_id:null,
                      -->
                    <div class="form-group ">
                      <label for="fournisseur_id" >Fournisseur</label>
  
                      <select  id="fournisseur_id" name="fournisseur_id" class="form-control label3" size="1"  #fournisseur_id="ngModel" (change)="onSelectType($event.target)" [(ngModel)]="document.fournisseur_id"  required>
                        
                        <option
                          
                          *ngFor="let fournisseur of fournisseurs.controls; index as i"
                          [value]="fournisseur.value.id">{{fournisseur.value.raison_social}}
                      </option>
                      </select>
                      <div *ngIf="fournisseur_id.invalid && (fournisseur_id.dirty || fournisseur_id.touched)"
                      class="f55">
                  
                    <div *ngIf="fournisseur_id.errors.required">
                     champs fournisseur_id est obligatoire.
                    </div>
                    </div>
                    </div>
                  <div  class="form-group">
                    <label for="date">Date Commande</label>   
                    <input class="form-control label3" type="date" id="date" name="date" #date="ngModel" [(ngModel)]="document.date"  required>
                  </div>
                  <div  class="form-group">
                    <label for="date_prev">Date Prév</label>   
                    <input class="form-control label3" type="date" id="date_prev" name="date_prev" #date_prev="ngModel" [(ngModel)]="document.date_prev"  required>
                  </div>
                  <div  class="form-group">
                    <label for="designation">Désignation</label>   
                    <input class="form-control label1" type="text" id="designation" name="designation" #designation="ngModel" [(ngModel)]="document.designation"  minlength="4" maxlength="30" pattern="[A-Za-z0-9\s ]*" required>
                    <div *ngIf="designation.invalid && (designation.dirty || designation.touched)"
                    class="f55">
                
                  <div *ngIf="designation.errors.required">
                   champs designation est obligatoire.
                  </div>
                  <div *ngIf="designation.errors.minlength">
                    designation doit comporter au moins 4 caractères.
                  </div>
                  <div *ngIf="designation.errors.maxlength">
                    designation doit contenir au maximum 30 caractères.
                  </div>
                  <div *ngIf="designation.errors.pattern">
                    designation doit être une chaîne de caractère.
                  </div>
                </div>
                  </div>
                  <br>
                <button  class="b8 btn btn-space btn-primary" type="submit" (click)="ajouterCommande()">Ajouter</button>
                  <button class="btn btn-space btn-primary" type="submit" (click)="reset()">Annuler</button>

                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    
  </div>

