<div style="background-color: #999999;">
<div class="limiter">
  <div class="container-login100">
    <div class="login100-more" style="background-image: url('assets/img/bg-01.jpg');"></div>

    <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
      <br><br><br>
      <form class="login100-form validate-form" action="/header" method="get">
        
        <span class="login100-form-title p-b-59" >
         
Connexion        </span>
<br><br><br><br>
        <div class="wrap-input100 validate-input" data-validate="Exercice est obligatoire">
         <span class="label-input100 ">Exercice</span>
          &nbsp; <select class="input100">
            <option>2020</option>
            <option>2021</option>
            <option>2022</option>
          </select>
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "societe est obligatoire: ">
          <span class="label-input100">Société</span>
          &nbsp; <select class="input100">
            <option>5 aout</option>
            <option>tunis</option>
            <option>Sokra tunis</option>
            <option>Beb bhar sfax</option>
          </select>
        
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="login est obligatoire">
         	<span class="label-input100">Login</span>
          <input class="input100" type="text" name="login" placeholder="Username...">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Password is required">
         	<span class="label-input100">Mot de passe</span>
          <input class="input100" type="text" name="pass" placeholder="*************">
          <span class="focus-input100"></span>
        </div>

        
      
                  <div style="text-align:center;">
        <div class="container-login100-form-btn" >
          
          <div class="wrap-login100-form-btn">
            
          
            <div class="login100-form-bgbtn"></div>
          
            
            <a class="  login100-form-btn bbb" href="/home">
              
              Connexion
            </a>
                      
          </div>
</div>
          
        </div>
      </form>
    </div>
  </div>
</div>
</div>